bod y
    cc dd
    e e
        ff gg

// bod y
//     cc dd
//     ee
//         ff gg
//         fff ggg

// body
//     cc dd
//     ee ff

// bo dy c d e e f
//    ab cd

// bo d d d a s d
//     a b c d

// bo1 d1 d1 d1 a1 s1 d1
//     a1 a1 b1 b1

// a2 b2 c2 d2 e2 f2
//     aa bb cc dd ee ff
